body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
}

header {
    background-image: url("https://scontent.fsea1-1.fna.fbcdn.net/v/t1.0-9/36858967_1706220849491766_5832505449835921408_o.jpg?_nc_cat=111&_nc_ht=scontent.fsea1-1.fna&oh=a3d08ca9d9efffab13d9107b164e8c68&oe=5C81DBDE");
    background-size: cover;
    height: 60vw;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36pt;
    color: white;
}

main {
    padding: 10px 100px 10px 100px;

}

#profile-picture {
    border-radius: 50%;
    width: 150px;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
}

a {
    color: white;
    font-weight: bold;
}

.center{
  text-align: left;
  margin: 0 auto;
  width: 20%
}
